@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: #051923;
}

html,
body {
  height: 100%;
  font-family: Ubuntu;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  width: 100%;
}

h1 {
  font-family: Babylonica;
  font-size: 6rem;
  margin-top: 0;
}

.right {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #111d13;
  border-radius: 8px;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.5);
  /* padding: 0 16px 16px 16px; */
}

.shopping-cart .objects-cart {
  width: 100%;
  margin: 8px;
}

.shopping-cart h2 {
  margin: 0 0 32px 0;
  color: white;
}

.shopping-cart h3 {
  margin: 16px 0 0 0;
  color: #4f772d;
}

.right span,
.right .sc {
  align-self: flex-start;
  margin: 0 0 0 5%;
  color: white;
}

.App div .sc {
  /* color: #415d43; */
  /* color: #ffb627; */
  color: #4f772d;
  margin: 0 0 24px 5%;
  font-size: 32px;
}

.line {
  width: 1px;
  height: 85%;
  background-color: #a3b18a;
  align-self: center;
}

.total {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: white;
  font-size: 32px;
  margin: 16px 0 0 0;
  padding: 8px;
}

div .shopping-cart .object-total {
  /* background-color: #a3b18a; */
  background-color: #415d43;
  padding: 8px 40px 8px 40px;
  border-radius: 0 8px 8px 0;
}

.object-total h3 {
  color: #a3b18a;
}

.object-total h2 {
  color: #a3b18a;
}

.message-empty-cart {
  /* margin: 80px; */
  color: #a3b18a;
  font-size: 0.9em;
  align-self: flex-start;
  margin: 0 0 0 5%;
}

.btn-cart {
  border-radius: 4px;
  border: none;
  font-size: 1em;
  margin: 8px 0 0 0;
  cursor: pointer;
}