@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: #051923;
}

html,
body {
  height: 100%;
  font-family: Ubuntu;
  overflow: hidden;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  width: 100%;
}

h1 {
  font-family: Babylonica;
  font-size: 6rem;
  margin-top: 0;
}

.right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}