@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: #051923;
}

html,
body {
  height: 100%;
  font-family: Ubuntu;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  width: 100%;
}

h1 {
  font-family: Babylonica;
  font-size: 6rem;
  margin-top: 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: #111d13;
  border-radius: 8px;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.5);
}

.shopping-cart h2 {
  margin: 0 0 32px 0;
  color: white;
}

.shopping-cart h3 {
  margin: 16px 0 0 0;
  color: #4f772d;
}

.right span,
.right h2 {
  align-self: flex-start;
  margin: 0 0 0 5%;
  color: white;
}

.App div .sc {
  /* color: #415d43; */
  /* color: #ffb627; */
  color: #4f772d;
  margin: 0 0 24px 5%;
  font-size: 32px;
}